<%= form_for @message do |f| %>
    <label>title</label>
    <%= f.text_field :title , :class => "form-control"%>
    <label>message</label>
    <%= f.text_field :msg , :class => "form-control"%>
<%end%>
