<div class="container-fluid">
    <div class="col-md-12 product-info">
        <ul id="myTab" class="nav nav-tabs nav_tabs">
            <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
            <li><a href="#service-three" data-toggle="tab">ΣΧΟΛΙΑ <span class="label label-info">
                        <%= @products.comments.count%></span></li>
            </a>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="service-two">
                <section class="container product-info">
                    <%= @products.description%>
                </section>
            </div>
            <div class="tab-pane fade" id="service-three">
                <section class="container product-info">
                    <%= render partial: "comments/comment"%>
                </section>
            </div>
        </div>
        <hr>
    </div>
</div>
</div>
</div>
