<div class ="container">
    <div class="jumbotron">
        <div class="container">
            <p>
                <%= link_to 'Κάνε ένα σχόλιο', new_comment_path, class: 'btn btn-primary btn-mb' %>
            </p>
        </div>
    </div>
    <%= render @comments %>
</div>
