/*carouzel*/

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 70%;
    margin: auto;
}

.carousel-inner>.item>img {
    margin: auto;
    height: auto;
    width: 100;
}

.carousel {
    /*padding: 5px;*/
    background-color: #fff;
}

.carousel-control {
    background-image: none !important;
}

.carousel img {
    text-align: center;
}

.carousel-inner {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}
