/**index**/

#icon_right {
    float: right;
    position: relative;
}

#margin_ul {
    margin-top: 30px;
}

#user_profile {
    margin-top: 5%!important;
}

#sibar_li {
    text-align: left;
    font-size: 12px;
}

#user_profile h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

#text_welcome {
    font-size: 12px;
}

#edit_content {
    background-color: #F2F2F2;
    border-bottom: 3px solid #CCCCCC;
}

#button_text p {
    font-size: 12px;
}

#button_content {
    border-top-color: #FFFFFF!important;
}

#edit_content h5 {}

#ul_content {
    margin-top: 10%;
}


/**edit profile**/
