<div class="container">
  <%= form_tag transactions_path do%>
    <%= render 'transactions/customer_form' %>
    <div id="dropin"></div>
    <%#= link_to "delete",transaction_path(),method: :delete, class: "btn btn-danger" %>
    <%if current_user%>
      <%=submit_tag "Pay #{current_user.orders.last.subtotal}$", class: "button mt1" %>
    <%else%>
      <%=submit_tag "Pay #{current_order.subtotal}$", class: "button mt1" %>
    </div>
  <%end%>
<%end%>
