<div class="container">
  <%= form_tag transactions_path do%>
    <%= render 'transactions/customer_form' %>
    <div id="dropin"></div>
    <%#= link_to "delete",transaction_path(),method: :delete, class: "btn btn-danger" %>
    <%=submit_tag "Pay #{current_user.orders.last.subtotal}$", class: "button mt1" %>
  </div>
<%end%>
