<script>
  $(document).ready(function() {
                $('.pgwSlideshow').pgwSlideshow();
                });
</script>
<%#= carousel_for @image_urls %>
<ul class="pgwSlideshow">
  <% @product.images.each do |image|%>
    <li>
      <%= image_tag image.image.url, alt: @product.title%>
    </li>
  <%end%>
</ul>
