<div class="container">
  <%= paginate @products, theme: 'twitter-bootstrap-4',:pagination_class => "pagination-small pagination-centered" %>
  <ul>
    <li class="sortbtn"   >
      <%= sortable "price", "Τιμή" %>
    </li>
    <li class="sortbtn">
      <%= sortable "updated_at", "Ημερομηνία" %>
    </li>
  </ul>
  <div id="categories-list" class="row list-group">
    <% @products.each do |product| %>
      <%= render "product_row", product: product, order_item: @order_item ,cached: true%>
    <% end %>
  </div>
</div>
